node_modules
Dockerfile
.dockerignore
.git
*.md
.env.prod
*.log
*.cache
.kamal
.env
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.editorconfig
.svelte-kit
.vscode
build
package
**/.env