.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.prod
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
local.db
data/mailpit.db*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Sentry Config File
.env.sentry-build-plugin
test-results
playwright-report
temp
uploads

.kamal/secrets*
.env*

snapshot*
triplit/.data/
src/paraglide